<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>桃園新視界 - 都市發展局</title>
    <link href="~/Content/css/sys.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/fontAwesome/font-awesome.css" rel="stylesheet" />
    @RenderSection("IncludeCSS", false)
</head>
<body class="@ViewBag.BodyClass">
    <div id="wrapper">
        @if (ViewBag.IsFirstPage)
        { }
        else {
            <header id="header" class="navbar navbar-fixed-top navbar-dark bg-primary">
                <h1 class="logo">
                    <a class="navbar-brand" href="#" title="回登入首頁" tabindex="-1">桃園新視界 - 都市發展局</a>
                </h1><!-- logo -->
                <ul class="nav navbar-nav pull-xs-right">
                    <li class="nav-item">
                        <span class="nav-link">
                            <i class="fa-user"></i> <span>登入身分: admin
                        </span>
                    </li>
                    <li class="nav-item bg-warning">
                        <a href="~/index" class="nav-link">
                            <i class="fa-home"></i> 回首頁
                        </a>
                    </li>
                    <li class="nav-item bg-success">
                        <a href="~/Login/Logout" class="nav-link">
                            <i class="fa-power-off"></i> 登出
                        </a>
                    </li>
                </ul>
            </header><!-- header //-->
        }
        <main id="main">

            @if (ViewBag.IsFirstPage) {
                @RenderBody()
            }

            else {

                <div id="content">
                    @RenderSection("Breadcrumb", false)
                    @RenderBody()
                </div><!-- content //-->

                <div id="sidebar">
                    <h3 class="h3"><i class="fa-bars"></i> 功能選單 MENU</h3>
                    <div id="menu">
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#menu" href="#menu1" class="panel-title collapsed"><i class="fa-bullhorn"></i> 網站資料管理</a>
                            </div>
                            <div id="menu1" class="panel-collapse collapse">
                                <ul class="panel-body list-unstyled">
                                    <li><a href="~/NewsData"><i class="fa-caret-right"></i> 最新消息資料維護</a></li>
                                    <li><a href="~/ProductsData"><i class="fa-caret-right"></i> 產品資料維護</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#menu" href="#menu2" class="panel-title collapsed"><i class="fa-cog"></i> 系統設定</a>
                            </div>
                            <div id="menu2" class="panel-collapse collapse">
                                <ul class="panel-body list-unstyled">
                                    <li><a href="~/Base/ChangePW"><i class="fa-caret-right"></i> 變更密碼</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- sidebar //-->
            }

        </main><!-- main //-->
    </div><!-- wrapper //-->

    <footer id="footer">
        <p class="copyright text-muted">
            <span>Powered By <a href="http://www.jcin.com.tw" target="new">JCIN.</a></span>
        </p>
    </footer><!-- footer //-->

    @* 引用 jQuery *@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @* 引用 Bootstrap (左選單開合效果) *@
    <script src="~/Scripts/bootstrap/util.js"></script>
    <script src="~/Scripts/bootstrap/collapse.js"></script>

    <script>
        // 左選單+目前頁面標記
        var url = window.location.pathname;
        $("#menu .panel-body a").each(function () {
            var href = $(this).attr("href");
            if ( url.indexOf(href) >= 0 ) {

                $("#menu .panel-body a").not(this).removeClass("active")
                .parents(".panel-collapse").removeClass("in")
                .parent(".panel").removeClass("panel-active")
                .find(".panel-title").addClass("collapsed");

                $(this).addClass("active")
                .parents(".panel-collapse").addClass("in")
                .parent(".panel").addClass("panel-active")
                .find(".panel-title").removeClass("collapsed");
            }
        });
    </script>

    @RenderSection("IncludeScript", false)
</body>
</html>
